.App {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.inputSection {
  margin: 1em; 
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row {
  width: 100%; 
  display: flex;
  margin: auto;
  justify-content: space-between;
}


input {
  width: 100%; 
}

input, button {
  border-radius: 2px;
  outline: none;
  border:1px solid;
  margin: 0 5px;
}
.Error {
  border: 3px solid red;
}