.App {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.inputSection {
  margin: 1em; 
}

.col {
  display: flex;
  flex-direction: column;
}



.row {
  display: flex;
  flex-wrap: wrap;
}


input, button {
  border-radius: 2px;
  outline: none;
  border:1px solid;
  margin: 0 5px;
}
.Error {
  border: 3px solid red;
}